<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
metadata-complete="false">
    <servlet>
        <servlet-name>Security Servlet</servlet-name>
        <servlet-class>org.wilson.storage.servlet.SecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image Servlet</servlet-name>
        <servlet-class>org.wilson.storage.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Video Servlet</servlet-name>
        <servlet-class>org.wilson.storage.servlet.VideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>File Servlet</servlet-name>
        <servlet-class>org.wilson.storage.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Security Servlet</servlet-name>
        <url-pattern>/servlet/security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image Servlet</servlet-name>
        <url-pattern>/servlet/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Video Servlet</servlet-name>
        <url-pattern>/servlet/video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>File Servlet</servlet-name>
        <url-pattern>/servlet/file</url-pattern>
    </servlet-mapping>
</web-app>

